---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
	<main class="flex h-full flex-col items-center justify-center gap-6 sm:gap-8">
		<a
			href="mailto:bartosz.kapciak@gmail.com"
			class="rounded text-2xl font-extralight tracking-wider decoration-from-font underline-offset-2 outline-2 outline-offset-4 outline-secondary hover:underline focus:outline sm:rounded-md sm:text-4xl"
			aria-label="bartosz.kapciak@gmail.com"
		>
			bartosz.kapciak@gmail.com
		</a>
		<div class="flex gap-8 sm:gap-12">
			<a
				href="https://github.com/toxeeec"
				class="grid size-16 place-items-center rounded-[25%] bg-secondary text-primary outline-2 outline-offset-4 outline-secondary hover:opacity-90 focus:outline sm:size-24"
				aria-label="LinkedIn"
			>
				<Icon name="github" class="size-2/3 text-primary" />
			</a>
			<a
				href="https://www.linkedin.com/in/bartosz-kapciak/"
				class="grid size-16 place-items-center rounded-[25%] bg-secondary text-primary outline-2 outline-offset-4 outline-secondary hover:opacity-90 focus:outline sm:size-24"
				aria-label="GitHub"
			>
				<Icon name="linkedin" class="size-2/3" />
			</a>
		</div>
	</main>
</Layout>
